#set($usedBlocks = []) ## list of already processed blocks
#set ($not_first = 0)
#foreach($instance in $instances)
    #set($instanceTable = $project.getById($instance.ParentId))
    #if(!($instanceTable.getProperty("regdef", "category") == "test"))
        #set($block = $project.getById($instance.linkedBlockId))
        #if(!$usedBlocks.contains($block.name))
            #set($bla = $usedBlocks.add($block.name))
            #set($registerTables = $project.getAllByType("REGISTER_TABLE", $block))
            #foreach($registerTable in $registerTables)
#if($not_first),#end#$registerTable.name.replaceAll(" ", "_")#set($not_first = 1)
            #end
        #end
    #end
#end
