$log.info(" ")
$log.info(">>>>>> working in " + ${registerFile.Name} + " | " + ${registerFile.blockName} + " <<<<<<")
$log.info(" ")
#parse( "tmr_general_definitions.vm" )
#parse( "tmr_ana_definitions.vm" )
#parse( "tmr_sel_val_definitions.vm" )
#parse( "tmr_in_definitions.vm" )
#parse( "tmr_out_definitions.vm" )
#parse( "tmr_dig_definitions.vm" )
