################### MACROS ###################
#macro( generate_info $text)
/*==================================================
 *  Copyright (c) $date.toString("yyyy") Elmos SE
 *  Author: stove
 *  Description : Note: This file has been generated automatically by stove
 *                Note: This file should not be modified manually.
 *                $text
 *==================================================*/
#end
#macro( isNotEmptySignal $signal_name) 
  #set ($isNotEmptySignalName = false)
  #if (!(($signal_name=="-") || ($signal_name=="0")))
    #set ($isNotEmptySignalName = true)
  #end
#end
#macro( isEmptySignal $signal_name)
  #set ($isEmptySignalName = false)
  #if ((($signal_name=="-") || ($signal_name=="0")))
    #set ($isEmptySignalName = true)
  #end
#end
################## Definitions ##################
#set ($test_name = $registerFile.name.toLowerCase().replace("test_",""))