################### MACROS ###################
################## TMR IN DEFINITONS ##################
$log.info('##### parsing TMR_IN #####')
#set ( $tmr_in = {})
#set ( $tmrVectorCount = 0)
#set ( $field_search_name = "tmr_in_")
#set ( $register_search_name = "TMR_IN")#*
*#$log.info("parsing TMR_IN: searching for registers containing >${register_search_name}< and fields starting with >${field_search_name}<")#*
*##foreach( $register in $registerFile.getRegisters() )
  #if ($register.Name != "")
    #if( $register.name.contains($register_search_name))
      #set ( $tmrInContents  = {})
      #foreach ($tmr_field in $register.getAllUsedFields())
        #if($tmr_field.name.startsWith($field_search_name))
          #set($fieldName = $tmr_field.name.replace($field_search_name, ""))
          $log.info("field=$fieldName")
          #if($fieldName != "")
            #if (!$tmrInContents.containsKey($fieldName))
              #set ($newBitWidth = $tmr_field.bits)
              #set ($newMSB = ($tmr_field.bits - 1))
              #set ($lsbOfField = [])
              #set ($tmp = $lsbOfField.add($tmr_field.lsb))
              #set ($isArray = false)
              #set ($tmp = $tmrInContents.put($fieldName,{"msb":$newMSB, "bitWidth":$newBitWidth, "isArray":$isArray, "lsbOfField":$lsbOfField, "register":$register}))
              $log.info("adding new signal $fieldName,msb:$newMSB, bitWidth:$newBitWidth, isArray:$isArray,lsbOfField:$lsbOfField")
              #set ($tmrInVector = $tmr_field.description.split("\.\."))
              $log.info("${tmr_field.description} , $tmrInVector")
              #if ($test_name != "top")
              #set ($tmrInVectorMSB =  $number.toNumber($tmrInVector.get(1)))
              #set ($tmrInVectorLSB =  $number.toNumber($tmrInVector.get(0)))
              #end
            #else
              $log.error("${fieldName} already included in TMR_IN bus!")
            #end
          #end
        #end
      #end
      $log.info("tmrInContents=$tmrInContents")
      #set ($tmp = $tmr_in.put("has_tmr", true))
      #set ($tmp = $tmr_in.put("contents", $tmrInContents))
      #set ($tmp = $tmr_in.put("vectorMSB", $tmrInVectorMSB))
      #set ($tmp = $tmr_in.put("vectorLSB", $tmrInVectorLSB))
    #end
  #end
#end
#if ($tmr_in.isEmpty())
  #set ($tmp = $tmr_in.put("has_tmr", false))
#end
$log.debug("tmr:$tmr_in")
$log.info('##########################')