$log.info('##### parsing TMR SEL/_VAL #####')
#macro(parse_fields $fields $array $registerOfField)
  #foreach ($bitfield in $fields)
    #set ($bitfield_msb = (${bitfield.bits} - 1))
    #set ($fieldIsArray = false)
    #if ($bitfield_msb > 0) #set($fieldIsArray = true)#end
    #set ($tmp = $array.add({"field":${bitfield.name}, "msb":${bitfield_msb}, "bits":${bitfield.bits}, "isArray":$fieldIsArray, "register":$registerOfField}))
  #end
#end
#set ( $tmrSelVal = {})
#set ( $register_search_name_sel = "TMR_SEL")
#set ( $register_search_name_val = "TMR_VAL")
#set ( $selFields = [] )
#set ( $valFields = [] )
#set ( $tmrSelValContents  = {})
#foreach( $register in $registerFile.getRegisters() )
  #if ($register.Name != "")
    #if( $register.name.contains($register_search_name_sel) || $register.name.contains($register_search_name_val))
      #foreach ($bitfield in $register.getAllUsedFields())
        $log.info("parsing ${bitfield.name} in register ${register.name}")
        #if(!$tmrSelValContents.containsKey($bitfield.name))
        	#set ($tmp = $tmrSelValContents.put($bitfield.name,{"valMsb":0, "valIsArray":false, "registerSel":$register, "registerVal":$register}))
        #end
        #set ($contents = $tmrSelValContents.get($bitfield.name))
        #if ($register.name.contains($register_search_name_sel))
          #set ($tmp = $contents.put("registerSel",$register))
        #end
        #if ($register.name.contains($register_search_name_val))
          #set ($msb = ($bitfield.bits - 1))
          #set ($isArray = false)
          #if ($msb > 0)#set ($isArray = true)#end
          #set ($tmp = $contents.put("registerVal",$register))
          #set ($tmp = $contents.put("valMsb",$msb))
          #set ($tmp = $contents.put("valIsArray", $isArray))
        #end
        $log.info("contents=${contents}")
        #set ($tmp = $tmrSelValContents.put($bitfield.name,$contents))
      #end
    #end
  #end
#end
#set($tmp = $tmrSelVal.put("contents", $tmrSelValContents))
#if($tmrSelVal.contents.isEmpty())
  #set($tmp = $tmrSelVal.put("hasTmr", false))
#else
  #set($tmp = $tmrSelVal.put("hasTmr", true))
#end
$log.info("tmrSelVal:${tmrSelVal}")
$log.info('##########################')

              