@Manage rc file Version 1.0
[File]
library_file = ./novas_lib.rc
form_file = ./novas_file.rc
default_file = ~/.verdi/novas.rc

[Load]
default_file
form_file
library_file

[Save]
library_file = Library
form_file = Form,General,XXXX
default_file = SECTION_REMAIN
