@verdi rc file Version 1.0
[Library]
default = ./work.lib++
work = ./work.lib++
[Library.Ikos]
pack = ./work.lib++
vital = ./work.lib++
std = ${dls_std}.lib++
ieee = ${dls_ieee}.lib++
synopsys = ${dls_synopsys}.lib++
silc = ${dls_silc}.lib++
ikos = ${dls_ikos}.lib++
novas = ${VOYAGER_LIB_VHDL}/${VOYAGER_MACHINE}/novas.lib++
default = ./work.lib++
work = ./work.lib++
default             = ./work.lib++
WORK                = ./work.lib++
work                = ./work.lib++
