@verdi rc file Version 1.0
[pabWin]
viewport = 0 25 2560 528
fsdb = /nfs/wrk.jvoi/sim/52143/m52143a/SPI/spi_test/spi_test.fsdb
SelectRow = 7
SelectRadix = 0
commonStreamRowHeight = 32
UTBDisplayType = true
stream1 = $trans_root/uvm_test_top/m_env/spi_agent/m_sequencer
drawOffsetHeight = 5449949
drawOffsetWidth = 0
drawTimeZoomScale = 3969.066011
drawChannelZoomScale = 1.000000
drawVisibleStartTime = 474960539435.091675
drawVisibleEndTime = 475084640377.716187
timeScaleUnit = p
timeMultiplier = 1.000000
drawCursorTime = 474969640000
selectDrawObjectID0 = 2460
middleColumnFullName = m_sequencer
middleColumnTopMargin = -20
streamRowHeightChanges_m_sequencer_0 = 142
streamRowHeightChanges_m_sequencer_1 = 155
streamRowHeightChanges_m_sequencer = 0:1:
rowHeightChangesColumnNames = m_sequencer 
selectedStreamRows = 1
selectedObjectIndex = 0
ExpandedTreeWidgetItem1 = $trans_root/uvm_test_top/m_env/spi_agent
HierTreeSelectedStreamItem = $trans_root/uvm_test_top/m_env/spi_agent/m_sequencer
pabHighlightPredSucc = On
pabAllDescendants = On
pabAllAncestors = On
pabHighlightParentChild = On
pabDetailTransactionInfo = On
pabDisplayAttrName = On
pabShowGloablDrawArea = On
pabNWSyncAll = On
pabSyncnCursorTime = On
pabNWViewRange = On
pabNWMarkTransaction = On
pabPanMode = On
pabDetailsTableArea = On
pabHierTreeArea = On
