#set($arrayInstances = {})
#set($arraySizeInstances = {})
#foreach ($instance in $edfTool.getInstances($args.get("category")))
#if ($instance.name == "WaveShaping")
#set($block = $project.getById($instance.linkedBlockId))
#set($regs = $project.getAllByType("REGISTER", $block))
localparam shortint unsigned BASE_ADDR_$instance.name.replaceAll(" ", "_").toUpperCase() = $tools.format("16'h%04x", $tools.parseInteger($regs.get(0).address));
localparam shortint unsigned SIZE_$instance.name.replaceAll(" ", "_").toUpperCase() = $tools.format("16'h%04x", $tools.parseInteger($instance.length));
#else
#if ($instance.name.matches(".*_\d+$"))
#set($baseName = "BASE_ADDR_" + $instance.name.replaceAll(" ", "_").toUpperCase().replaceAll("_\d+$", ""))
#set($sizeName = "SIZE_" + $instance.name.replaceAll(" ", "_").toUpperCase().replaceAll("_\d+$", ""))
#set($sizeNumber = $tools.format("16'h%04x", $tools.parseInteger($instance.length)))
#set($baseAddress = $tools.format("16'h%04x", $tools.parseInteger($instance.baseAddress)))
//${instance.name} ist ein ARRAY! --> $baseName : $baseAddress
#set($dummy = $arraySizeInstances.put($sizeName, $sizeNumber))
#if($arrayInstances.get($baseName))
#set($dummy = $arrayInstances.put($arrayInstances.get($baseName).add($baseAddress)))
#else
#set($instanceEntry = [])
#set($dummy = $instanceEntry.add($baseAddress))
#set($dummy = $arrayInstances.put($baseName, $instanceEntry))
#end
#else
localparam shortint unsigned BASE_ADDR_$instance.name.replaceAll(" ", "_").toUpperCase() = $tools.format("16'h%04x", $tools.parseInteger($instance.baseAddress));
localparam shortint unsigned SIZE_$instance.name.replaceAll(" ", "_").toUpperCase() = $tools.format("16'h%04x", $tools.parseInteger($instance.length));
#end
#end
#end
#foreach ($mapEntry in $arrayInstances.entrySet())
#set($addressCollection = "")
#foreach ($address in $mapEntry.value)
#if ($addressCollection != "")#set($addressCollection = $addressCollection + ",")#end
#set($addressCollection = $addressCollection + $address)
#end
#set($size=$mapEntry.value.size() - 1)
localparam shortint unsigned $mapEntry.key [0:$size]= {$addressCollection};
#end
#foreach ($mapEntry in $arraySizeInstances.entrySet())
localparam shortint unsigned $mapEntry.key = $mapEntry.value;
#end