setenv SDF_MODULE          "digtop"
setenv SDF_INSTANCE        "top_tb.th.i_dut_wrapper.xtop.xdigtop"
setenv BE_RESULTS_PATH     "$PROJECT_DIR/DIGITAL/be_run/"
setenv SDF_MIN             "${BE_RESULTS_PATH}/signoff/results/digtop.func_min.signoff.sdf.gz"
setenv SDF_MAX             "${BE_RESULTS_PATH}/signoff/results/digtop.func_max.signoff.sdf.gz"
setenv ANALYZE_OPTIONS     "-sverilog +define+NTC +define+RECREM +define+INITIALIZE_MEMORY +define+UVM_NO_DEPRECATED +define+UVM_NO_VERDI_RECORD +define+PATTERN_FILE_LOCATION='$DESIGN/verification/pattern/' -timescale=1ns/1ps"
setenv ANALYZE_OBJECTS_LAY "${BE_RESULTS_PATH}/layout/results/digtop.output.pg.v"
setenv NO_ANALYZE_OBJECTS  "COMMON_LIB ECC OTP_MEM MAIN_CONTROL TIMEBASE SPI edf_registers TEST"
setenv GATE_LEVEL
setenv ELAB_OPTIONS_LAY    "+vcs+lic+wait -hsopt=gates -suppress=IWU,TFIPC,TFIPC-L"
