setenv SDF_MODULE       "digtop"
setenv SDF_INSTANCE     "top_tb.th.i_dut_wrapper.xtop.xdigtop"
setenv BE_RESULTS_PATH  "$PROJECT_DIR/DIGITAL/be_run/syn/results"
setenv SDF_MIN          "${BE_RESULTS_PATH}/digtop.mapped.func_min.sdf"
setenv SDF_MAX          "${BE_RESULTS_PATH}/digtop.mapped.func_max.sdf"
setenv ANALYZE_OBJECTS_LAY	"${BE_RESULTS_PATH}/digtop.mapped.pg.v"
setenv NO_ANALYZE_OBJECTS	"COMMON_LIB ECC OTP_MEM MAIN_CONTROL TIMEBASE SPI edf_registers TEST"
