<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="veride.launch_configurations.simulatorBuildLaunchConfigurationType">
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="$DESIGN" value="${project_loc}"/>
    </mapAttribute>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
    </listAttribute>
    <booleanAttribute key="veride.launch_configurations.simulatorBuildLaunchConfigurationTypeTab.simulatorBuildBashShellTypeAttribute" value="false"/>
    <stringAttribute key="veride.launch_configurations.simulatorBuildLaunchConfigurationTypeTab.simulatorBuildCommandCheckedStatesAttribute" value="true;"/>
    <listAttribute key="veride.launch_configurations.simulatorBuildLaunchConfigurationTypeTab.simulatorBuildCommandRunDirsAttribute">
        <listEntry value=""/>
    </listAttribute>
    <listAttribute key="veride.launch_configurations.simulatorBuildLaunchConfigurationTypeTab.simulatorBuildCommandsAttribute">
        <listEntry value="cd tb_easier_uvm; ./generate_tb"/>
    </listAttribute>
    <booleanAttribute key="veride.launch_configurations.simulatorBuildLaunchConfigurationTypeTab.simulatorBuildCommandsInSameProcessEnabledAttribute" value="false"/>
    <booleanAttribute key="veride.launch_configurations.simulatorBuildLaunchConfigurationTypeTab.simulatorBuildCshShellTypeAttribute" value="true"/>
    <stringAttribute key="veride.launch_configurations.simulatorBuildLaunchConfigurationTypeTab.simulatorBuildDefaultWorkingDirectoryAttribute" value="/nfs/wrk.jvoi/projekte/52143/p52143/DIGITAL"/>
    <booleanAttribute key="veride.launch_configurations.simulatorBuildLaunchConfigurationTypeTab.simulatorBuildUseDefaultWorkingDirectoryAttribute" value="false"/>
</launchConfiguration>
